*{
    margin: 0 ;
    padding: 0;    
    font-family: 'Open Sans', sans-serif;      
}
body{
    width: 100%;
    background: linear-gradient(to right,#000 25%,#555) no-repeat;
}
main{
    width: 100%;    
}
header{
    width: 100%;
    height: 100px;
    background: linear-gradient(rgba(0,0,0,1) 80%,rgba(255,255,255,0.1))no-repeat;
    z-index: 2;

}
header img{
    float: left;
}
/* tela de Login */
.login{
    display: none; 
    position: fixed; 
    z-index: 3; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;     
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
    color: white;
}
.login input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
    color: black;
}
.logindisplay{
    background-color: #222;
    margin: 5% auto 15% auto; 
    border: 1px solid #000;
    width: 40%;
}
.regist{
    display: none; 
    position: fixed; 
    z-index: 3; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;     
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
    color: white;
}
.regist input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
    color: black;
}
.button {
    background-color: #eee;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.button:hover {
    opacity: 0.8;
}
.cancelbtn {    
    width: auto;
    border: none;
    cursor: pointer;
    padding: 10px 18px;
    background-color:  #f44336;
}
.registbtn{    
    width: auto;
    border: none;
    cursor: pointer;
    padding: 10px 18px;
    background-color:  #239b2e;
}
.container {
    padding: 16px;
}
/*formulario de pesquisa*/
.formsearch{
    height: 30px;
    padding-left: 6px;
    padding-right: 6px;
}
.seachimput{
    height: 28px;
    font-size: 16px;    
}
.imgsearch{
    width: 30px;
    height: 30px;
    float: right;
}
.fixo{    
    position: fixed;

}
/*Header ul*/
header ul{
    float: right;
    padding: 25px 20px 20px 20px;
}
header ul ul{
    position: initial;
    display:none;
    box-shadow:3px 3px 2px #333;
}
header ul.submenu-1 li{
    color: #000;    
}
header li:hover > ul.submenu-1{ display:block; padding:5px; width:200px; border-radius:0 0 5px 5px;   }
header ul.submenu-1 a{  width:160px; padding:0 20px; border-radius:5px;  }

header li{    
    display: inline-block;
    background-color: #eee;
}
header li a{
    display: block;
    text-decoration: none;
    color: #000;
    padding: 5px 20px 7px 20px;
    font-size: 18px;	
}
.principal{
    width: 100%;
    padding-top: 100px;
    

}
.baners{
    width: 100%;
    height: 400px;   
}
.baners a img{
    width: 100%;
    height: 410px;
}
.contentfilmes{
    width: 100%;
    height: 350px;

}
.contentfilmestitulo{
    margin: 43px 0 20px 5px;
    padding-top: 7px !important;
    padding-left: 10px !important;
    height: 30px;
    color: #ffffff;
    font-size: 18pt;    
    font-weight: 600;
    display: inline-block;
}
.footer{
    margin-top: 20px;
    color: #ffffff;
    text-align: center;
    overflow: hidden;
    clear: both;
    padding-top: 50px;
}
.footer p{    
    margin: 0 auto;
    padding-bottom: 20px;
}
.filmesinfo{
    width: 92%;
    margin: 0 auto;    
}
.banerfilme{
    padding-top: 100px;
}
.banerfilme img{
    width: 100%;
    height: 400px;
}
.clasifilme{
    position: relative;
    top: 0;
    margin-left: 250px;

}
.imgfilmeinfo{
    position: absolute;
    top: 250px;
    left: 75px;
    z-index: 1;
    overflow-x: hidden;   
}
.imgfilmeinfo img{
    border: solid 5px white;
    width: 220px;
    height: 326px;
}
.filmesdados{    
    background-color: #eee;    
}
.filmesdados h1{
    padding-top: 90px;
    margin-left: 50px;
    margin-bottom: 15px;
}
.filmesdados h2{
    margin-left: 50px;
    margin-bottom: 7px;
}
.filmesdados p{
    margin-left: 50px;
    margin-bottom: 10px;
    width: 630px;
}
.filmesdados iframe{
    border: 1px #000 solid;
    float: right;
    margin-right: 30px;
    margin-top: 40px;
}
.filmesgenerosh1{
    color: #eee;
    margin-top: 20px;
    margin-left: 90px;
}
.filmesgeneros{    
    margin:30px auto;
    width: 87%;
    height: 260px;       
}
.locarbtn input{   
    margin-left: 46%;
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: #a721ab;
    color: #fff;
    padding: 14px 20px;    
    border: none;
    cursor: pointer;
    width: 100px;
    font-size: 18px;

}
/*pagina cliente*/
.userblock{    
    color: white;
    border: 3px solid white;
    margin-top: 30px;
    margin-left: 75px;
    margin-right: 15px;
    float: left;
    width: 300px;
    
}
.userblock h2{
    text-align: center;
    margin-bottom: 50px;
}
.userblock img{
    margin:22px;;
    width: 250px;
}
.locaçãoblock{
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #eee;
    border: 3px solid white;
    float: left;
    margin-top: 30px;    
    padding: 30px;
    
}
.locaçãoblock table, th, td {
    border: 3px solid #333;
    border-collapse: collapse;    
}
.locaçãoblock th, td{
    width: 285px;    
}
.locaçãoblock h3, p{
    width: 800px;
    margin-bottom: 25px;
}

/*Utilidade*/
.expand{
    margin-top: 60px;
    padding-bottom: 60px;
}
.radios{
    border-radius: 6px;	
}
.border{
    border: 1px solid #eee;
}
/*testeslide*/
.teste{
    margin: auto;
    width: 92%;

}
.teste img{
    width: 190px;
    height: 250px;
}

.testelog {
    font-size: 16px;
    width: 70px;
    height: 35px;
    cursor: pointer;
}
